<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB22</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjaxServlet</display-name>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.itheima.ajax01.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/ajaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet2</display-name>
    <servlet-name>AjaxServlet2</servlet-name>
    <servlet-class>com.itheima.ajax02.AjaxServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet2</servlet-name>
    <url-pattern>/ajaxServlet2</url-pattern>
  </servlet-mapping>

  <!-- ==========================TEST001========================== -->
  <servlet>
    <description></description>
    <display-name>AjaxServlet_001</display-name>
    <servlet-name>AjaxServlet_001</servlet-name>
    <servlet-class>com.itheima.ajax01.AjaxServlet_001</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet_001</servlet-name>
    <url-pattern>/ajaxServlet_001</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet2_001</display-name>
    <servlet-name>AjaxServlet2_001</servlet-name>
    <servlet-class>com.itheima.ajax02.AjaxServlet2_001</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet2_001</servlet-name>
    <url-pattern>/ajaxServlet2_001</url-pattern>
  </servlet-mapping>
  <!-- ==========================TEST002========================== -->
  <servlet>
    <description></description>
    <display-name>AjaxServlet_002</display-name>
    <servlet-name>AjaxServlet_002</servlet-name>
    <servlet-class>com.itheima.ajax01.AjaxServlet_002</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet_002</servlet-name>
    <url-pattern>/ajaxServlet_002</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet2_002</display-name>
    <servlet-name>AjaxServlet2_002</servlet-name>
    <servlet-class>com.itheima.ajax02.AjaxServlet2_002</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet2_002</servlet-name>
    <url-pattern>/ajaxServlet2_002</url-pattern>
  </servlet-mapping>
  <!-- ==========================TEST003========================== -->
  <servlet>
    <description></description>
    <display-name>AjaxServlet_003</display-name>
    <servlet-name>AjaxServlet_003</servlet-name>
    <servlet-class>com.itheima.ajax01.AjaxServlet_003</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet_003</servlet-name>
    <url-pattern>/ajaxServlet_003</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet2_003</display-name>
    <servlet-name>AjaxServlet2_003</servlet-name>
    <servlet-class>com.itheima.ajax02.AjaxServlet2_003</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet2_003</servlet-name>
    <url-pattern>/ajaxServlet2_003</url-pattern>
  </servlet-mapping>
  <!-- ==========================TEST004========================== -->
  <servlet>
    <description></description>
    <display-name>AjaxServlet_004</display-name>
    <servlet-name>AjaxServlet_004</servlet-name>
    <servlet-class>com.itheima.ajax01.AjaxServlet_004</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet_004</servlet-name>
    <url-pattern>/ajaxServlet_004</url-pattern>
  </servlet-mapping>
  <!-- ==========================TEST005========================== -->
  <servlet>
    <description></description>
    <display-name>AjaxServlet_005</display-name>
    <servlet-name>AjaxServlet_005</servlet-name>
    <servlet-class>com.itheima.ajax01.AjaxServlet_005</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet_005</servlet-name>
    <url-pattern>/ajaxServlet_005</url-pattern>
  </servlet-mapping>
  <!-- ==========================TEST006========================== -->
  <servlet>
    <description></description>
    <display-name>AjaxServlet_006</display-name>
    <servlet-name>AjaxServlet_006</servlet-name>
    <servlet-class>com.itheima.ajax01.AjaxServlet_006</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet_006</servlet-name>
    <url-pattern>/ajaxServlet_006</url-pattern>
  </servlet-mapping>
</web-app>
