#father{
	border:1px solid red;
	width:1300px;
	height:2170px;
	margin:auto;
}

#logo{
	height:50px;
	border:1px solid green;
}

.top{
	float:left;
	width:430px;
	border:1px solid blue;
	height:48px;
}
#top{
	margin-top:12px;
	height:36px;
}

#clear{
	clear:both;
}

ul li{
	display:inline;
	color:white;
}

#menu{
	background-color:black;
	height:50px;
	border:1px solid red;
}
.product{
	border:1px solid green;
	height:558px;
}
#product_top{
	border:1px solid blue;
	height:50px;
	padding-top:8px;
}
#product_bottom{
	border:1px solid red;
	height:498px;
	width:100%;
}
#product_bottom_left{
	border:1px solid green;
	float:left;
	width:256px;
	height:100%
}
#product_bottom_right{
	border:1px solid blue;
	float:left;
	width:1038px;
	height:100%;
}
#big{
	border:1px solid red;
	width:516px;
	height:49.8%;
	float:left;
}
.small{
	border:1px solid green;
	width:171px;
	height:49.8%;
	text-align:center;
	float:left;
}
#bottom{
	text-align:center;
}

a{
	text-decoration:none;
}
