<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MessageBoard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  
  <servlet>
  	<description></description>
  	<display-name>AddMessageServlet</display-name>
  	<servlet-name>AddMessageServlet</servlet-name>
  	<servlet-class>com.whiteDream.web.AddMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddMessageServlet</servlet-name>
  	<url-pattern>/addMessageServlet</url-pattern>
  </servlet-mapping>

  
  <servlet>
  	<description></description>
  	<display-name>ShowMessageServlet</display-name>
  	<servlet-name>ShowMessageServlet</servlet-name>
  	<servlet-class>com.whiteDream.web.ShowMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowMessageServlet</servlet-name>
  	<url-pattern>/showMessageServlet</url-pattern>
  </servlet-mapping>


</web-app>
