#father{
	border:1px solid red;
	width:1300px;
	height:2170px;
	margin:auto;
}
#logo{
	border:1px solid green;
	width:1300px;
	height:50px;
}

.top{
	border:1px solid blue;
	width:431px;
	height:50px;
	float:left;
}

#top{
	padding-top:15px;
	height:35px;
}

#menu{
	border:1px solid red;
	width:1300px;
	height:50px;
	background-color:black;
}

ul li{
	display:inline;
	color:white;
}

#menu_ul{
	margin-top:8px;
}

#clear{
	clear:both;
}
.product{
	border:1px solid green;
	width:1300px;
	height:550px;
}

#product_top{
	border:1px solid blue;
	width:1300px;
	height:50px;
	padding-top:13px;
}

#product_bottom{
	border:1px solid red;
	width:1300px;
	height:483px;
}

#product_bottom_left{
	border:1px solid green;
	width:224px;
	height:483px;
	float:left;
}

#product_bottom_right{
	border:1px solid blue;
	width:1070px;
	height:483px;
	float:left;
}

#big{
	border:1px solid red;
	width:532px;
	height:240px;
	float:left;
}

.small{
	border:1px solid green;
	width:176px;
	height:240px;
	float:left;
	text-align:center;
}

#bottom{
	text-align:center;
}
a{
	text-decoration:none;
}
