body{
	background: #4aa;
}
#container{
	width: 1000px;
	height: 1000px;
	margin: 50px auto;
	font-size: 0px;
	text-align: center;
}
#container a{
	font-size: 66px;
	width: 88px;
	height: 88px;
	display: inline-block;
	border: 1px solid #fff;
	line-height: 98px;
	text-decoration: none;
	margin: 5px;
	color: #333;
}
.over{
	position: relative;
	top: 3px;
	left: 3px;
}
.out{
	top: 0px;
	left: 0px;
}

