@charset "utf-8";
/* CSS Document */

li{list-style:none; text-align:left; margin:0; padding:0;}

/*menu*/
#menu {margin:0 auto; width:100%; display:block; }
#menu .mainlevel {float:left; background: url(../images/zxbg02.jpg) right center no-repeat; font-size:12px; padding:0; margin:0; }
#menu .mainlevel .title { text-align:center;width:135px;}
#menu .mainlevel ul { display:none; position:absolute; z-index: 99999; width:135px; left: 0px; }
#menu .mainlevel li { width:135px;background:#4f94fc; text-align:center; float:left;}
#menu .mainlevel {text-decoration:none; color:#fff; line-height:33px; display:block; width:135px; position: relative; }
#menu .mainlevel a{text-decoration:none; color:#fff; cursor:pointer; line-height:34px; display:block; width:135px; text-align:center; height:34px;}
#sub_02 li{float:left; }
#menu .mainlevel ul a{border-top:1px solid #fff;}
#menu .mainlevel a:link {color:#FFF; text-decoration:none;}
#menu .mainlevel a:visited {color: #FFF;text-decoration:none;}
#menu .mainlevel a:hover {color:#FFF;text-decoration:none;}
#menu .mainlevel a:active {color:#FFF;}