body,ul{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #444;
}
#container{
	width:880px;
	height: 400px;
	border: 1px solid #fff;
	background-color: #fff;
	margin: 100px auto;
}
ul{
	margin-left: 5px;
	position: relative;
}
li{
	list-style: none;
	position: absolute;
	width: 100px;
	height: 100px;
}
