ul{
	padding:0px;
	margin: 0px;
	list-style: none;
}

ul{
	width:244px;
	height:289px;
} 
.li_1{
	height:49px;
	border-bottom: 1px solid #d6d6d6;
	background:url(../imgs/zhuye.gif) no-repeat 21px 16px #f7f7f7;
}
.li_6{
	height:50px;
	border-bottom: 1px solid #f7f7f7;
	background:url(../imgs/dianhua.gif) no-repeat 21px 15px #f7f7f7;
}
.li_2{
	height:46px;
	border-bottom: 1px solid #d6d6d6;
	background:url(../imgs/lianxiren.gif) no-repeat 21px 14px #f7f7f7;
}
.li_3{
	height:46px;
	border-bottom: 1px solid #d6d6d6;
	background:url(../imgs/gongzuo.gif) no-repeat 21px 14px #f7f7f7;
}
.li_4{
	height:46px;
	border-bottom: 1px solid #d6d6d6;
	background:url(../imgs/shezhi.gif) no-repeat 21px 16px #f7f7f7;
}
.li_5{
	height:46px;
	border-bottom: 1px solid #d6d6d6;
	background:url(../imgs/zhuzhi.gif) no-repeat 21px 15px #f7f7f7;
}
.box{
	width: 344px;
	height: 389px;
	margin: 40px auto;
	background:url(../imgs/box_bg.gif);
}
.box1{
	width: 244px;
	height: 289px;
	padding:50px;
}
